<!DOCTYPE html>
<html>
<head>
	<title>{% block title %} {% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard.css')}}">
</head>
<body>
	<nav id="menu" class="ph-lift">
        <ul>
        	<li><a href="/" data-title="HOME">HOME</a></li>
            <li><a href="/signup" data-title="REFUGE">SIGNUP</a></li>
            <li><a href="/login" data-title="ANIMAL">LOGIN</a></li>
            <li><a href="/dashboard" data-title="ABOUT">DASHBOARD</a></li>
        <ul>
	</nav>
	{% block content %}
	{% endblock %}
</body>
</html>