{% extends 'dashboardbase.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}
	Dashboard
{% endblock %}

{% block content %}
	<h1>Alias</h1>
	<form class="form" method="POST" action="/dashboard">
		{{ form.hidden_tag() }}
		{{ wtf.form_field(form.alias) }}
		<button class="btn" type="submit">Create</button>
	</form>
	{% for element in aliases %}
	<p> {{element.alias}} </p>
	{% endfor %}
	<br>
	<br>
	<a href="{{ url_for('logout') }}">Logout</a>
{% endblock %}