{% extends 'loginbase.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}
	Login
{% endblock %}

{% block content %}
	<h1>Welcome back!</h1>
	<form class="form" method="POST" action="/login">
		{{ form.hidden_tag() }}
		{{ wtf.form_field(form.email) }}
		{{ wtf.form_field(form.password) }}
		{{ wtf.form_field(form.remember) }}
		<button class="btn" type="submit">Login</button>
	</form>
{% endblock %}