{% extends 'signupbase.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}
	Sign Up
{% endblock %}

{% block content %}
	<h1>Sign Up</h1>
	<form class="form" method="POST" action="/signup">
		{{ form.hidden_tag() }}
		{{ wtf.form_field(form.email) }}
		{{ wtf.form_field(form.name) }}
		{{ wtf.form_field(form.password) }}
		<button class="btn" type="submit">Sign Up</button>
	</form>
{% endblock %}